# Project exclude paths
/.gradle/
/build/
/resolute/ResoluteTagUtils-rt/build/tmp/
/resolute/ResoluteTagUtils-rt/build/classes/
/resolute/ResoluteTagUtils-se/build/
/resolute/ResoluteTagUtils-ux/build/
/resolute/ResoluteTagUtils-wb/build/
.idea/
sign
.lock
.bin
.properties
*.class
cache*